
.banner {
    color: #fff;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.loginMessage{
    font-family: 'Roboto Condensed', sans-serif;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoTextForLogo{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
.loginText {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border-top: 7px solid #fff;
    border-bottom: 7px solid #fff;
}
.loginTextAdmin {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    border-top: 7px solid #fff;
    border-bottom: 7px solid #fff;
}
.loginTextWrong{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: red;
    border-top: 7px solid #fff;
    border-bottom: 7px solid #fff;
}
.loginTextMSG a:hover,
.loginTextMSG a:active{
    text-decoration:   white;
    background-color: #10a2ff;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:15px;
    color: #ffffff;
    cursor:pointer;

}

.arrow {
    font-size: 70px;
    animation: anim 3s infinite;
}
.bannerButton {
    width: 150px;
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    transition: transform .3s;
}

.button:hover {
    transform: translateY(-1px);
}

.LogOutButton {
    width: 200px;
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    transition: transform .3s;
}

.LogOutButton:hover {
    transform: translateY(-1px);
}

@keyframes anim {
    0% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-15px)
    }

    60% {
        transform: translateY(0)
    }

    80% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(0)
    }
}

.formContainer {
    display: flex;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,.7);
    transform: translate(-50%, -50%);
    display: none;
    transition: opacity 1s;
}
.signUpForm {
    width: 80%;
    padding: 120px 50px;
    box-sizing: border-box;
}

.formInput {
    width: 120%;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #cc683c;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    margin-bottom: 50px;
    outline: none;
    padding: 10px 0;
    transition: border-bottom-color .8s;
}

.formInput:focus {
    border-bottom-color: #cc683c;
}
.signUpForm button {
    display: block;
    margin-top: 80px;
    width: 150px;
    padding: 8px 5px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    outline: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}


.x-button {
    position: absolute;
    bottom: -10%;
    right: 1%;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}






@media screen and (max-width: 2000px){
    .loginMessage{
        font-size: 35px;
        text-align: center;
    }
    .loginText {
        font-size: 20px;
    }
    .loginTextAdmin {

    }
    .loginTextWrong{

    }



}








@media screen and (max-width: 1199px){
    .loginMessage{
        font-size: 35px;
        text-align: center;
    }
    .loginText {
        font-size: 20px;
    }
    .loginTextAdmin {

    }
    .loginTextWrong{

    }



}




@media screen and (max-width: 991px){

    .loginMessage{
        font-size: 35px;
        text-align: center;
    }
    .loginText {
        font-size: 20px;
    }
    .loginTextAdmin {

    }
    .loginTextWrong{

    }


}


@media screen and (max-width: 766px){
    .loginMessage{
        font-size: 35px;
        text-align: center;
    }
    .loginText {
        font-size: 20px;
    }
    .loginTextAdmin {

    }
    .loginTextWrong{

    }



}



@media screen and (max-width: 575px){
    .loginMessage{
        font-size: 35px;
        text-align: center;
    }

    .loginText {
        font-size: 20px;
    }
    .loginTextAdmin {

    }
    .loginTextWrong{

    }


}




@media screen and (max-width: 300px) {
    .loginMessage{
        font-size: 20px;
        text-align: center;
    }
    .loginText {
        font-size: 20px;
    }
    .loginTextAdmin {

    }
    .loginTextWrong{

    }
}